/*boton wsp*/
.whatsapp {
    background-color: green;
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 60px;
    display: inline-block;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
  }